{% extends "base.html" %} {% block content %} {% load staticfiles %}
<style>
#imaginary_container{
margin-top:5%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
background: white !important;
}
.stylish-input-group .form-control{
border-right:0;
box-shadow:0 0 0;
border-color:#ccc;
}
.stylish-input-group button{
border:0;
background:transparent;
}
.col-centered{
float: none;
margin: 0 auto;
}
</style>
<div class="container">
  <div class="row">
        <div class="col-sm-12 col-sm-offset-3 col-centered">
            <div id="imaginary_container">
                <form class="input-group" role="search" method="get" action="{% url 'auction_search' %}">
                  <div class="input-group-btn search-panel">
                <select class="form-control" name="category" id="id_category">
              <option value="">Category</option>
                      <option value="Antiques">Antiques</option>
                      <option value="Automobiles">Automobiles</option>
                      <option value="Computers">Computers</option>
                      <option value="Mobiles">Mobiles</option>
                    </select>
            </div>
                    <input type="text" class="form-control"  placeholder="Search" name='search' >

                </form>
            </div>
        </div>
  </div>
  {% if auctions %}
{% for auction in auctions %}

  <div class="bg-faded p-4 my-4">
    <div class="card card-inverse">
      {% if auction.picture %}
      <img class="card-img img-fluid w-100" src="{{auction.picture.url}}" alt="">
      {% else %}
      <img class="card-img img-fluid w-100" src="{% static 'img/image_not_found.png'%}" alt="">
      {% endif %}
      <div class="card-img-overlay bg-overlay">
        <h2 class="card-title text-shadow text-white text-uppercase mb-0">{{auction.title}}</h2>
        <h4 class="text-shadow text-white">Starting Bid: {{auction.starting_bid}} KD</h4>
        <h4 class="text-shadow text-white">Bids closes at: {{auction.ending_at}}</h4>
        <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">{{auction.description}}</p>
        <a href="{% url 'auction_view' auction.pk %}" class="btn btn-primary">View Auction</a>
      </div>
    </div>
  </div>

{% endfor %}
{% else %}
  <div class="bg-faded p-4 my-4">
    <h2> Couldn't find matching auction </h2>
  </div>
</div>
{% endif %}
{% endblock %}
