{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Haray Auction </title>

    <!-- Bootstrap core CSS -->
    {% block css %} {% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{% static 'css/business-casual.css' %}" rel=" stylesheet">
    {% block media %} {% endblock %}
  </head>

  <body>

    <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Haray Auction</div>
    <br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'view_auctions_list' %}">Auctions</a>
            </li>
            {% if user.user.seller %}
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{% url 'my_auctions' %}"> My Auctions </a></li>
            {% endif %}
            {% if user.user.customersupport %}
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{% url 'view_tickets_list' %}"> Tickets </a></li>
            {% endif%}
            {% if not user.user.seller and user.is_authenticated %}
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{% url 'become_seller' %}"> Become A Seller </a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{% url 'profile_view' user.user.pk %}"> Profile </a></li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'account_logout' %}"> Sign Out </a>
            </li>


            {% else %}
            <li class="nav-item px-lg-4"><a  class="nav-link text-uppercase text-expanded" href="{% url 'account_login' %}"> Sign In </a></li>
            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase text-expanded" href="{% url 'account_signup' %}"> SignUp </a></li>

            {% endif %}
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'contact_us' %}"> Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      {% if messages %}
      {% for message in messages %}
      <div class="alert{% if message.tags %} {{ message.tags}}{% endif %} .alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
          {{ message }}
     </div>
     {% endfor %}
  {% endif %}

  {% block content %} {% endblock %}
    <!-- /.container -->

    <footer class="bg-faded text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; harayauction.com 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
