{% extends "base.html" %} {% block content %}
{% load staticfiles %}
<div class="bg-faded p-4 my-4">
  <div class="text-center mt-4">
    <h1 class="my-2">Terms of use</h1>
    <p class ='text-left'style="word-wrap: break-word;">There are rules that all Haray Auction members, both buyers and sellers, need to know and follow. <br>
      These rules are created to protect you and to keep Haray Auction a safe place to buy, sell, and participate in the community.<br><br>

Rules about general member conduct<br><br>

Haray Auction members aren't allowed to:<br>

• Interfere with the Haray Auction site<br>

• Use profanity on the site<br>

• Infringe on Haray Auction's intellectual property<br>

• Create a new account or buy and sell on other existing accounts to avoid restrictions or limits<br>

• Make offers to buy or sell outside of Haray Auction<br>

• Falsely report that another member has violated an Haray Auction policy<br>

In addition to rules that apply to all Haray Auction members, Haray Auction also has rules specifically about Feedback, buying, and selling.<br><br>

When a buyer or seller issue comes up, depending on the particular situation, we may consider an individual's performance history and the specific circumstances, which can influence how we apply our rules and policies. At our discretion, we may choose to be more lenient with policy enforcement, as long as that decision doesn't result in Haray Auction requiring payment from another member. We reserve the right to do the right thing for both buyers and sellers.<br><br>

Rules about identity<br><br>

Haray Auction members:<br>

• Must be at least 18 years old<br>

• Can't misrepresent their identities<br>

• Must always provide valid and complete contact information and must always have a valid email address<br>

• Can't publish the contact information of other members in an online public area<br>

• Must choose their user ID according to Haray Auction rules<br><br>

Rules about communicating with other Haray Auction members<br><br>

Haray Auction members:<br>

• Can't use our member-to-member contact options to send spam or threats<br>

• Must follow Haray Auction's rules for Haray Auction Groups, Haray Auction discussion boards, and community content (including reviews and guides)</p>
  </div>
  </div>
{% endblock %}
